<?xml version="1.0"?>

<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"
>
    <default>
        <siteation_pagespeed>
            <bfcache>
                <enable>0</enable>
                <exclude_list>
                    <bfcache_item_admin>
                        <path>admin</path>
                    </bfcache_item_admin>
                    <bfcache_item_catalog_compare>
                        <path>catalog/product_compare</path>
                    </bfcache_item_catalog_compare>
                    <bfcache_item_checkout>
                        <path>checkout</path>
                    </bfcache_item_checkout>
                    <bfcache_item_customer>
                        <path>customer</path>
                    </bfcache_item_customer>
                    <bfcache_item_onepage>
                        <path>onepage</path>
                    </bfcache_item_onepage>
                    <bfcache_item_payment>
                        <path>payment</path>
                    </bfcache_item_payment>
                    <bfcache_item_paypal>
                        <path>paypal</path>
                    </bfcache_item_paypal>
                    <bfcache_item_redirect>
                        <path>redirect</path>
                    </bfcache_item_redirect>
                    <bfcache_item_sales_order>
                        <path>sales/order</path>
                    </bfcache_item_sales_order>
                    <bfcache_item_wishlist>
                        <path>wishlist</path>
                    </bfcache_item_wishlist>
                </exclude_list>
            </bfcache>
            <speculation_rules>
                <enable>0</enable>
                <eagerness>moderate</eagerness>
                <exclude_list>
                    <speculation_rules_item_customer>
                        <path>/customer/*</path>
                    </speculation_rules_item_customer>
                    <speculation_rules_item_customer_sub>
                        <path>*/customer/*</path>
                    </speculation_rules_item_customer_sub>
                    <speculation_rules_item_search>
                        <path>/search/*</path>
                    </speculation_rules_item_search>
                    <speculation_rules_item_search_sub>
                        <path>*/search/*</path>
                    </speculation_rules_item_search_sub>
                    <speculation_rules_item_wishlist>
                        <path>/wishlist/*</path>
                    </speculation_rules_item_wishlist>
                    <speculation_rules_item_wishlist_sub>
                        <path>*/wishlist/*</path>
                    </speculation_rules_item_wishlist_sub>
                    <speculation_rules_item_checkout>
                        <path>/checkout/*</path>
                    </speculation_rules_item_checkout>
                    <speculation_rules_item_checkout_sub>
                        <path>*/checkout/*</path>
                    </speculation_rules_item_checkout_sub>
                    <speculation_rules_item_paypal>
                        <path>/paypal/*</path>
                    </speculation_rules_item_paypal>
                    <speculation_rules_item_paypal_sub>
                        <path>*/paypal/*</path>
                    </speculation_rules_item_paypal_sub>
                    <speculation_rules_item_pdf>
                        <path>*.pdf</path>
                    </speculation_rules_item_pdf>
                </exclude_list>
            </speculation_rules>
            <view_transitions>
                <enable>0</enable>
            </view_transitions>
        </siteation_pagespeed>
    </default>
</config>
