<?xml version="1.0"?>

<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"
>
    <default>
        <siteation_pagespeed>
            <bfcache>
                <enable>1</enable>
                <max_age>0</max_age>
            </bfcache>
            <speculation_rules>
                <enable>0</enable>
                <eagerness>moderate</eagerness>
                <exclude_list>
                    <speculation_rules_item_customer>
                        <path>/customer/*</path>
                    </speculation_rules_item_customer>
                    <speculation_rules_item_customer_sub>
                        <path>*/customer/*</path>
                    </speculation_rules_item_customer_sub>
                    <speculation_rules_item_search>
                        <path>/search/*</path>
                    </speculation_rules_item_search>
                    <speculation_rules_item_search_sub>
                        <path>*/search/*</path>
                    </speculation_rules_item_search_sub>
                    <speculation_rules_item_wishlist>
                        <path>/wishlist/*</path>
                    </speculation_rules_item_wishlist>
                    <speculation_rules_item_wishlist_sub>
                        <path>*/wishlist/*</path>
                    </speculation_rules_item_wishlist_sub>
                    <speculation_rules_item_checkout>
                        <path>/checkout/*</path>
                    </speculation_rules_item_checkout>
                    <speculation_rules_item_checkout_sub>
                        <path>*/checkout/*</path>
                    </speculation_rules_item_checkout_sub>
                    <speculation_rules_item_paypal>
                        <path>/paypal/*</path>
                    </speculation_rules_item_paypal>
                    <speculation_rules_item_paypal_sub>
                        <path>*/paypal/*</path>
                    </speculation_rules_item_paypal_sub>
                    <speculation_rules_item_pdf>
                        <path>*.pdf</path>
                    </speculation_rules_item_pdf>
                </exclude_list>
            </speculation_rules>
            <view_transitions>
                <enable>0</enable>
            </view_transitions>
        </siteation_pagespeed>
    </default>
</config>
